# WHY PYTHON? - A technology simplified

General purpose: build anything

Open source! Free!

Python packages, also for data science

Many applications and fields

www.python.org/downloads

Python is an easy to learn, powerful programming language.

General Scripting Language

.py extension

ideal language for scripting and rapid application development

In [ ]:
5th Largest StackOverflow Community

3rd Largest Meetup Community

4th Most-Used Language at GitHub

In [ ]:
On Angel List, Python is the 2nd most demanded skill and also the skill with the highest average salary offered.

demand as data scientists, especially 

since Python can be easily integrated into web applications to carry out tasks that require machine learning.

Currently replaced Java as 2nd most popular language

# Creating Hello World - Your First Code

The print () function prints the specified message to the screen, or other standard output device

In [1]:
print("Hello Python")

Hello Python

In [2]:
print("Welcome to the session")

Welcome to the session

In [6]:
print("Happy Learning \nWelcome to Python")

Happy Learning
Welcome to Python

# Variables

Variables are containers for storing data values.

In [7]:
#The equal sign (=) is used to assign a value to a variable.

width = 20
height = 5 * 9

width * height
width + height

65

In [46]:
# In interactive mode, the last printed expression is assigned to the variable _.
tax = 12.5 / 100
price = 100.50 

price * tax

12.5625

In [47]:
print(width,height)

20 45

In [48]:
price + _

113.0625

In [49]:
round(_, 2)

113.06

# Immutable Data types - Numbers, Strings and Tuples

Whose state cannot be modified after it is created

the ID of an object never changes

The type also never changes

The value can either change or not

If it can, the object is said to be mutable, while when it cannot, the object is said to be immutable

In [24]:
age = 42

address=id(age)

print(address)

print(id(age))    # id

print(type(age))  # type

print(age)        # value

140727170513984
140727170513984
<class 'int'>
42

In [26]:
var2 = [x for x in globals().values() if id(x)==address]
print(var2)

[42]

In [26]:
age = 43

print(age)

print(id(age))

43
140727046913120

In [27]:
age + age

86

When we type age = 43, what happens is that another object is created, of the type int and value 43 

(also, the id will be different), and 

the name age is set to point to it. 

So, we didn’t change that 42 to 43. 

We actually just pointed age to a different location.

# Mutable Data types -  Lists, Dictionaries and Sets

In [53]:
x = [1, 2, 3]
print(x)
print(id(x))

[1, 2, 3]
1742049781568

In [54]:
x.pop()
print(x)
print(id(x))

[1, 2]
1742049781568

In [55]:
d = {
    'a': 'alpha',
    'b': 'bravo',
    'c': 'charlie',
    'd': 'delta',
    'e': 'echo'
}
print(id(d))
d.update({
    'f': 'foxtrot'
})
print(id(d))

1742049850944
1742049850944

# Strings

In [8]:
# single quotes ('...') or double quotes ("...") 

'spam eggs'  # single quotes

"spam eggs" # double quotes

'spam eggs'

In [10]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [8]:
# \ can be used to escape quotes

"\"Yes,\" they said."
'"Yes," they said.'

'"Yes," they said.'

# Operations on Strings

In [1]:
str1='Welcome'
str2="to"
str3="""Edureka"""

print(str1)
print(str2)
print(str3)

Welcome
to
Edureka

In [12]:
string = "python"
print(string)

python

In [13]:
# print length of string

print(len(string))

6

In [14]:
# Indexing and Slicing

print(string[1:4])

yth

### String Formatting Operators

In [11]:
print("Welcome to %s"%("Python")) # %s refers to string

print("My name is %s and my age is %d"%("Annie",22)) # %d refers to single decimal

Welcome to Python
My name is Annie and my age is 22

In [15]:
name = "India"

marks = 20.56

string3= 'Hey %s, my subject mark is %g' % (name, marks) # %f is for floating numbers
print(string3)

Hey India, my subject mark is 20.56

In [4]:
name1="hello"

TEXT = 'Hi, your first name is %s and your last name is %s' % (name, name1)

print(TEXT)

Hi, your first name is India and your last name is hello

In [35]:
TEXT2 = 'Hi, your first name is {} and your last name is {}'.format(name, name1)

print(TEXT2)

Hi, your first name is India and your last name is hello

### Built in String Operators

In [45]:
str='edureka'

print(str.capitalize()) # capitalises first letter

print(str.count('ka',0,len(str))) # finds how many times a particular string has occured

Edureka
1

In [ ]:
s=str.encode('utf-8') # returns encoded string version of a string
print(s)

# UTF-8 is a variable-width character encoding used for electronic communication

In [16]:
str='edureka'

print(max(str)) # returns max value of a string

print(min(str)) # returns min value of a string

# as per ascii values of alphabets, min and max values from string are given

u
a

In [17]:
print(str.replace('e','--E--',2)) # replacing value

--E--dur--E--ka

In [64]:
print(str.upper()) # coverts lowercase into uppercase

EDUREKA

In [65]:
print(str.index('k')) # returns value of index

5

In [42]:
str1="Happy Learning"

print(str1[::-1]) # reverses the string

print(str1[2:7]) # slicing of string

print(str1.find('L')) # returns the index at which letter is given

gninraeL yppaH
ppy L
6

In [43]:
str2="Welcome to Edureka"

print(str1 + " " + str2) # joining of strings i.e. concatenate

print(str1*2) # repetition of string

Happy Learning Welcome to Edureka
Happy LearningHappy Learning

# Tuples

In [ ]:
Tuples are sequence  of elements, just like lists. 

The differences between tuples and lists are, 

the tuples cannot be changed unlike lists and tuples use parentheses,

whereas lists use square brackets.

In [68]:
A=(1,2,3.15,'edureka!')

print(A)

(1, 2, 3.15, 'edureka!')

In [23]:
tup1=("Hadoop","Python","Java")

print(len(tup1)) # length of tuple

print(max(tup1)) # returns item with max value

print(min(tup1)) # returns item with min value

3
Python
Hadoop

In [75]:
tup1=("Haddop","Python","Java")

print(len(tup1)) #clength of tuple

print(tup1*2) # repetition

print("Java" in tup1) # membership testing

3
('Haddop', 'Python', 'Java', 'Haddop', 'Python', 'Java')
True

In [78]:
tup2=(1,3,5,7)
tup3=(2,4,6,8)

tup4=tup2+tup3 # joining of tuple

print(tup4)

(1, 3, 5, 7, 2, 4, 6, 8)

In [81]:
tup=(1,3,5,2)

print(sorted(tup)) # sort the tuple

print(tup[::-1]) # reverses the tuple

[1, 2, 3, 5]
(2, 5, 3, 1)

In [82]:
tuple1=(1,3,5,7,'a','b')

lst=list(tuple1) # converting tuple into list

print(lst)

[1, 3, 5, 7, 'a', 'b']

In [83]:
lst[1]="Python" # replacing index 1 position

print(lst)

[1, 'Python', 5, 7, 'a', 'b']

In [84]:
tuple2=tuple(lst) # converting list into tuple

print(tuple2)

(1, 'Python', 5, 7, 'a', 'b')

In [85]:
# difference between list and tuples

list=["Hadoop","Python","Android"]
print(list)

tuple=("Python","Hadoop")
print(tuple)

['Hadoop', 'Python', 'Android']
('Python', 'Hadoop')

In [86]:
tuple[1] = 'python'

print(tuple)

# tuples are immutable so we cannot change value

TypeError: 'tuple' object does not support item assignment

### List in Tuple

In [87]:
#list inside Tuple

tup=([1,2,3],[3,4,5],[5,6,7])
print(tup)

print(len(tup))

print(tup[0][1]) # slicing

([1, 2, 3], [3, 4, 5], [5, 6, 7])
3
2

In [88]:
#Updating Tuple

tup[0][1]=90

print(tup)

# using list inside a tuple makes it mutable

([1, 90, 3], [3, 4, 5], [5, 6, 7])

In [89]:
#Deleting element in Tuple

del(tup[1][2])
print(tup)

([1, 90, 3], [3, 4], [5, 6, 7])

# Lists

In [90]:
A=[1,2,3.15,'edureka!']

print(A)

[1, 2, 3.15, 'edureka!']

In [16]:
# indexing and slicing operations

list=["Hadoop","Python","Android"]

print(list[1])

print(list[0:2])

print(list[-1])

Python
['Hadoop', 'Python']
Android

In [17]:
list=["Hadoop","Python","Android"]

list[1]="Java" # updating index 1 with Java
print(list)

['Hadoop', 'Java', 'Android']

In [18]:
del(list[2]) # deleting index 2
print(list)

['Hadoop', 'Java']

In [19]:
list=[1,2,3,4,5,'a','b','c']

print(list.pop(3)) # returns element at a given index

print(list)

4
[1, 2, 3, 5, 'a', 'b', 'c']

In [20]:
list.remove('a') # removes given element from the list
print(list)

[1, 2, 3, 5, 'b', 'c']

In [95]:
list3=[1,2,5,'Python','Haddop']

print(type(list3)) # print data type 

print([x**2 for x in[1,2,3,4,5]]) # use of looping

<class 'list'>
[1, 4, 9, 16, 25]

In [96]:
list=[1,2,3]

list.append("Machine Learning") # adds an item at the end of list

print(list)

[1, 2, 3, 'Machine Learning']

In [97]:
list.extend(['g','h']) # adds many item at the end of list

print(list)

[1, 2, 3, 'Machine Learning', 'g', 'h']

In [98]:
list.insert(1,'Scripting') # inserts item at giving position

print(list)

[1, 'Scripting', 2, 3, 'Machine Learning', 'g', 'h']

In [99]:
list.remove(3) # remove item from the list

print(list)

[1, 'Scripting', 2, 'Machine Learning', 'g', 'h']

In [100]:
list1=['Python','XYZ','ABC','PQR']

print(list1)

print(sorted(list1)) # returns sorted list

['Python', 'XYZ', 'ABC', 'PQR']
['ABC', 'PQR', 'Python', 'XYZ']

In [101]:
print(list1[::-1]) # reverses the list

['PQR', 'ABC', 'XYZ', 'Python']

### Tuple inside a List

In [102]:
list=["Hadoop","Python","Android"]
print(list)

tuple=("Python","Hadoop")
print(tuple)

['Hadoop', 'Python', 'Android']
('Python', 'Hadoop')

In [103]:
list=[(1,2,3),("Python","Java")]

print(list)

print(len(list)) # length of list

[(1, 2, 3), ('Python', 'Java')]
2

In [104]:
# slicing

print(list[1][0:1])

('Python',)

In [105]:
# using tuple inside it makes the whole as immutable

list[0][1]=50

print(list)

TypeError: 'tuple' object does not support item assignment

# Dictionaries

Dictionary in Python is an unordered collection of data values

keys can’t be repeated

In [107]:
A={'Age':24, 'Name':'John'}

print(A)

{'Age': 24, 'Name': 'John'}

In [108]:
# Accessing value in a dictionary

print(A['Age'])

24

In [109]:
Dict = {1: 'Geeks', 2: 'For', 3: 'Love'}

print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Love'}

In [110]:
Dict[1] = 'Coding'

print(Dict)

{1: 'Coding', 2: 'For', 3: 'Love'}

In [114]:
del(Dict[2]) # deleting elements

print(Dict)

{1: 'Coding', 3: 'Love'}

In [113]:
print(len(Dict))

# length of dict

3

In [116]:
print(type(Dict)) # data type

<class 'dict'>

In [117]:
dict1 = {1: 'python', 2: 'android'}

print(dict1)

{1: 'python', 2: 'android'}

In [118]:
print(dict1.items())

dict_items([(1, 'python'), (2, 'android')])

In [119]:
print(dict1.keys())

dict_keys([1, 2])

In [120]:
print(dict1.values())

dict_values(['python', 'android'])

In [5]:
print(dict1.setdefault(1,4)) 

# setdefault() method returns the value of a key (if the key is in dictionary)

# If not, it inserts key with a value to the dictionary

python

In [128]:
print(dict1.copy()) # creates copy of dictionary

{1: 'python', 2: 'android'}

### Tuples and Lists in Dictionaries

In [9]:
# tuple in dictionary

dict = {1: (1,2,3), 2: (3,4,5)}

print(dict)

print(dict [1] [1])

{1: (1, 2, 3), 2: (3, 4, 5)}
2

In [10]:
# list in dictionary

dict = {1: ['python', 'java'], 2: [1,3,5,7]}

print(dict)

print(dict[1][0])

{1: ['python', 'java'], 2: [1, 3, 5, 7]}
python

# Sets - Unordered collection of unique items

In [134]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'orange', 'apple', 'banana'}

In [135]:
'orange' in basket

True

In [136]:
'crabgrass' in basket

False

In [145]:
a = set('abracadabra')
b = set('alacazam')
b                             
# unique letters in b

{'a', 'c', 'l', 'm', 'z'}

In [139]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [142]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [143]:
a & b                              # letters in both a and b

{'a', 'c'}

In [144]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
# Self Work: slide 99

# Python Operators

### Arithmetic Operators

In [16]:
# Numbers
# The interpreter acts as a simple calculator: Expression syntax is straightforward: the operators +, -, * and /

2 + 2

4

In [146]:
50 - 5*6

20

In [147]:
(50 - 5*6) / 4

5.0

In [148]:
8 / 5  # division always returns a floating point number

# The integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float.

1.6

In [149]:
17 / 3  

# classic division returns a float

5.666666666666667

In [150]:
17 % 3  

# the % operator returns the remainder of the division

2

In [151]:
# use the // operator to discard fractional part

17 // 3  # floor division discards the fractional part

5

In [152]:
# With Python, it is possible to use the ** operator to calculate powers

5 ** 2  # 5 squared

25

### Assignment Operators - Assigning values to variables

In [1]:
# Assign value of right side of expression to left side operand

a = 3
b = 5
  
c = a + b 
   
print(c)

8

In [2]:
# Add and Assign

a = 3
b = 5
  
# a = a + b 
a += b 
  
# Output 
print(a)

8

In [3]:
# Subtract and Assign
a = 3
b = 5
  
# a = a - b 
a -= b 
  
# Output 
print(a)

-2

In [4]:
# Multiply and Assign

a = 3
b = 5
  
# a = a * b 
a *= b 
  
# Output 
print(a)

15

In [5]:
# Divide and Assign

a = 3
b = 5
  
# a = a / b 
a /= b 
  
# Output 
print(a)

0.6

In [6]:
# Modulus and Assign

a = 3
b = 5
  
# a = a % b 
a %= b 
  
# Output 
print(a)

3

In [7]:
# divide and assign

a = 3
b = 5
  
# a = a // b 
a //= b 
  
# Output 
print(a)

0

### Comparison Operators

In [8]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [9]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [10]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [11]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [12]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [13]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

### Logical Operators

In [14]:
# and 	Returns True if both statements are true

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 1

True

In [15]:
# or	Returns True if one of the statements is true

x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [16]:
# not	Reverse the result, returns False if the result is true

x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

### Identity Operators

In [17]:
# is 	Returns true if both variables are the same object

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": 
# this comparison returns True because x is equal to y

True
False
True

In [18]:
# is not	Returns true if both variables are not the same object

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": 

# this comparison returns False because x is equal to y

False
True
False

### Membership Operators

In [19]:
# in 	Returns True if a sequence with the specified value is present in the object

x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [20]:
# not in	Returns True if a sequence with the specified value is not present in the object

x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# if Conditional statements

In [ ]:
X=10
Y=12

if(X<Y):
    print('X is less than Y')
elif(X>Y):
    print('X is greater than Y')
else:
    print('X and Y are equal')

In [ ]:
# If else statement
a=30

if(a<10):
    print("Less than 10")
if(10<=a<=25):
    print("In between 10 and 25")
else:
    print("Greater than 25")

In [ ]:
# if elif else

marks=70
if(marks<40):
    print("Fail")
elif(40<marks<=60):
    print("Average")
else:
    print("Congratulations!! Well done")

# Loops

### While Loop

The while loop executes as long as the condition (here: a < 10) remains true. 

The first line contains a multiple assignment: the variables a and b simultaneously get the new values 0 and 1.

In [21]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [22]:
count=0
while(count<5):
    print(count)
    count=count+1

0
1
2
3
4

In [23]:
#Example
rank=5
while(rank!=12):
    print("Rank is ",rank)
    rank+=1

Rank is  5
Rank is  6
Rank is  7
Rank is  8
Rank is  9
Rank is  10
Rank is  11

### For Loop

Python’s for statement iterates over the items of any sequence (a list or a string), 

in the order that they appear in the sequence

In [22]:
fruits=['Banana','Apple','Grapes']

for index in range(len(fruits)):
    print(fruits[index])

Banana
Apple
Grapes

In [23]:
words = ['cat', 'window', 'defenestrate']

for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [24]:
#Example

list1=[1,2,3,"Python"]

for i in list1:
    print(i)

1
2
3
Python

### Nested loop - Loop inside a loop

In [25]:
for i in range(10,50):
    print(i)
    if(i==30):
        break
        
# break terminates a loop statement and immediately executes the next statement

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [26]:
for j in range(1,11):
    print(j)
    if(j==5):
        continue
        
# retest condition as soon as j is equal to 5

1
2
3
4
5
6
7
8
9
10

In [22]:
for k in range(1,3):
    pass
print("Loop ends here")

# when you do not want to execute any command

Loop ends here

### Giving Input to Program

In [28]:
str=input("Enter your input")
print("Received input is: ",str)

Enter your inputnikhil
Received input is:  nikhil

In [ ]:
# Example

name=input("Enter your name")

age=input("Enter your age")

print("Welcome ",name)
print("Your age is ",age)

### Opening and Closing Files

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [23]:
f = open("demofile.txt")

# The code above is the same as:

f = open("demofile.txt", "rt")

# Because "r" for read, and "t" for text are the default values, you do not need to specify them.

In [24]:
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [13]:
f = open("demofile.txt", "r")
print(f.readline())

# Read one line of the file

# By calling readline() two times, you can read the two first lines

Hello! Welcome to demofile.txt

In [14]:
f = open("demofile.txt", "r")
for x in f:
  print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

In [ ]:
# Close Files
#It is a good practice to always close the file when you are done with it.

f = open("demofile.txt", "r")
print(f.readline())
f.close()

In [ ]:
# Write to an Existing File

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

# You should always close your files, 

# in some cases, due to buffering, changes made to a file may not show until you close the file.

In [16]:
f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!Now the file has more content!

In [17]:
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile.txt", "r")
print(f.read())

Woops! I have deleted the content!

### Create a New File

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

In [1]:
f = open("demofile.txt", "x")

FileExistsError: [Errno 17] File exists: 'demofile.txt'

In [4]:
f = open("hifile.txt", "a")

In [5]:
f = open("wifile.txt", "w")

# Defining a Function

#### block of organised and reusable code which can do repetitive tasks

In [ ]:
def print_name(str):
    print("Welcome to Python, ",str)
    return()


str=input("Enter your name :")
print_name(str)

#str is an argument here which must be entered
#without argument it will throw an error

### Why Return Statement? - terminates the execution of a function and returns control to the calling function

In [ ]:
def Welcome(str) :
    print("Welcome to Python, ",str)
    return()

Welcome(str="Annie")

#here string is passed as an argument

In [ ]:
def add(a,b,c,d) :
    print(a)
    print(b)
    print(c)
    print(d)
    sum=a+b+c+d
    return(sum)

ans=add(d=10,a=50,c=5,b=5)
print("sum is : ",ans)

#integer values are passed as arguments

In [ ]:
def info(name,age=50) :
    print("Name: ",name)
    print("Age: ",age)
    return()

info(age=25,name="nikhil")

info(name="nikhil") # age argument not given so default value shall be taken

In [17]:
# varible length arguments

def info(user,*users) :
    print("users of python :",user)
    print("users :",*users)
    
info("Annie")
info("Annie","Dave","nikhil")

users of python : Annie
users :
users of python : Annie
users : Dave nikhil

In [15]:
def myfunction(arg1,arg2,arg3,*args,**kwargs) :
    print("one :", str(arg1))
    print("two :", str(arg2))
    print("three :", str (arg3))
    print("four :", str (args))
    print("five :", str (kwargs))
    
myfunction(1,2,3,4,5,6,7,name="nikhil", country="India", nationality="Indian")

one : 1
two : 2
three : 3
four : (4, 5, 6, 7)
five : {'name': 'nikhil', 'country': 'India', 'nationality': 'Indian'}

### Enumerate Function - #### returns index values and items from the list in the form of tuples

In [2]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))

# converting to list
print(list(enumerateGrocery))


# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

### Lambda Function - Nameless or anoymous function

In [1]:
ans=(lambda z:z*4)

print(ans(7))

28

In [2]:
print("\n")
C = [39.2, 36.5, 37.3, 38, 37.8]
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

In [3]:
#Map
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

# map applies a function to all items in the input list

[1, 4, 9, 16, 25]

In [4]:
#filter
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

# filter creates a list of elements for which a function returns true

[-5, -4, -3, -2, -1]

In [6]:
#reduce
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print(product)

# useful for computation on list and returning the result

24

### Scope of Variables

In [8]:
a=50 #global variable

def number() :
    b=30 #local variable
    print(b)
    
print(a)
number()

50
30

In [10]:
a

50

### MODULES USED IN PYTHON

In [ ]:
Python files with .py extension containing python definitions and statements

In [26]:
import numpy

In [27]:
print(dir(numpy))

# list of variables and functions defined by the module numpy

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__dir__', '__doc__', '__file__', '__getattr__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [28]:
import math

In [29]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
from math import sqrt

# importing specific attribute

In [30]:
from math import*

# import all the attributes from the required module

In [ ]:
reload math

#imports a previously imported module again bcoz top level code is executed only once

Sys module

In [31]:
import sys

print(sys.argv) # includes name of the program you are running

print(sys.exit()) # informs the python interpreter to quit

['D:\\Anaconda\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\nikhi\\AppData\\Roaming\\jupyter\\runtime\\kernel-eb325944-60a8-47af-8dbd-c5ecb6d9b0da.json']

os Module

includes code that let python work with the operating system and running operating system commands

In [8]:
import os

In [11]:
print(os.mkdir('D:/Hello')) # creates directory in given path

None

In [ ]:
print(os.rmdir('d:/python/py')) # deletes directory

random module

pseudo number random generator

In [ ]:
# generates random number within a given range

import random
num=random.randrange(100)
print(num)

In [ ]:
# generates random number within a given range (start, stop, step)

ran=random.randrange(0,100,20)

In [ ]:
# return a random integer N such that a <= N <= b

int=random.randint(0,30)
print(int)

Date time module

working with dates, time and combinations

In [16]:
import datetime
print(datetime.datetime.today())

2020-11-08 06:39:26.995653

In [18]:
date_today = datetime.date.today()
print (date_today)

2020-11-08

In [19]:
print ('This Year   :', date_today.year)
print ('This Month    :', date_today.month)

This Year   : 2020
This Month    : 11

json module

easy way of encoding and decoding data in json

### Regular Expression

Generally it is a special text string for describing a search pattern like verifying email or searching a particular text

In [ ]:
NameAge=""janice is 22 and theon is 33

In [36]:
# using regular expression context in place of replace method for search and replace

import re
print(re.sub(r'[ad]','*','abcde abcedf abcdef'))

# replaces every a and d with asterisks

*bc*e *bce*f *bc*ef

In [37]:
print(re.sub(r'abc','*','abcdef abcdef'))

# replaces all occuances of abc with asterik

# visit slide 102 for more examples

*def *def

### Search and Match Function

In [38]:
print(re.search('ab','here is an absolute string'))

# looks for a pattern anywhere in the string

<re.Match object; span=(11, 13), match='ab'>

In [39]:
print(re.match('ab','here is an absolute string'))

# looks for a match starting at the beginning of the string

None

# OBJECT ORIENTED CONCEPTS

1. Python is an object-oriented programming language. 

2. This means a Python programmer is able to take advantages of all pillars
    (Polymorphism, Inheritance, Abstraction, Encapsulation) of object oriented paradigm. 

3. The model of Object-Oriented Programming (OOP) is based on the concept of classes and objects.

4. Python OOPS code are executed line by line, so it will throw an error when your line of code will execute

Objects are the data structures incorporating information about state and behaviour

Example: A person have an email id and phone number

  This person might  Place order, cancel order
    
So state and behaviour are bundled together

Customer data and customer behaviour are considered together representing a customer - ENCAPSULATION

State information is contained in attributes and behaviour information is hidden in methods

Example: you want to know the number of rows in a table - Attribute
    
    Now,  you want to run some operation on the table like removing missing values - Methods

### Create a Simple Class

Class is a blueprint used to create objects having similar properties 

outlining possible states and behaviours

Example: Creating a class customer where each customer will be having email id and phone no. 

and can cancel or place order

In [ ]:
# Create a class named Employee, 

# having an indented block of code defining two properties name and age:

class Employee:
    name = "John"
    age = 26

Create Class Object : Instance of class, there can be multiple objects for same class

Creating an object of a class is a simple matter of typing the class name, 

followed by a pair of parentheses

The e object is an instance of the Employee class. It has the data attributes described by the Employee class.

In [19]:
class Employee:
    name = "John"
    age = 26
 
 
e = Employee() #creating an object for the employee class
print(e.name, e.age)

print(type(e))  # <class '__main__.Employee'>

John 26
<class '__main__.Employee'>

In [2]:
# Add methods to class

class customer:
    def identity(self,name) :
        print("I am a customer " + name)
        
cust=customer()
cust.identity("Nikhil") # self is ignored when calling method on an object

# self helps in referring data even when object is not created

I am a customer Nikhil

In [4]:
class customer:
    def identity(self,name) :
        print("I am a customer " + name)
        
customer.identity(cust,"Nikhil") # self is considered when calling method from an object

# cust.identity("Nikhil") interpreted as customer.identity(cust,"Nikhil")

I am a customer Nikhil

In [9]:
class Customer:
    def set_name(self, new_name): # set the name attribute of an object to new_name
        self.name = new_name # <-- will create .name attribute when set_name is called 
        
cust = Customer() # <--.name doesn't exist here yet
cust.set_name("Lara de Silva") # <--.name is created and set to "Lara de Silva"
print(cust.name) # <--.name can be used

Lara de Silva

Initializing the Object

The __init__() constructor is commonly known as an initializer method because it initializes the object's data attributes.

When an object is created, Python first creates an empty object and then calls the __init__() method for that new object.

In [10]:
class Employee:
    def __init__(self, name, age):
        self.name = name # creating .name attribute and set it to name parameter
        self.age = age # creating .age attribute and set it to name parameter
 
 
e = Employee("Sam", 36) # creating an object #<--- __init__ is implicitly called
print(e.name, e.age)

Sam 36

In [18]:
class Customer:
    def __init__(self, name, balance): # <-- balance parameter added
        self.name = name
        self.balance = balance # <-- balance attribute added
        print("The __init__ method was called")

cust = Customer("Lara de Silva", 1000) # <-- __init__ is called
print(cust.name)
print(cust.balance)

The __init__ method was called
Lara de Silva
1000

In [17]:
class Customer:
    def __init__(self, name, balance=0): 
        self.name = name 
        self.balance = balance 
        print("The __init__ method was called")

cust = Customer("Lara de Silva") # <-- don't specify balance explicitly

print(cust.name) 
print(cust.balance) # <-- attribute is created anyway

The __init__ method was called
Lara de Silva
0

Object Method

In [ ]:
# When the method executes, the self parameter will reference the emp object.

class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
    def details(self):
        print("Employee Name:",  self.name)
        print("Employee Age:", self.age)
 
 
emp = Employee("Sam", 36)
emp.details()

Self Parameter

In [ ]:
# The argument self is usually used to refer to object itself.

# self replaced by selfemployee in the below example:

class Employee:
    def __init__(selfemployee, name, age):
        selfemployee.name = name
        selfemployee.age = age
 
    def details(selfemployee):
        print("Employee Name:",  selfemployee.name)
        print("Employee Age:", selfemployee.age)
 
 
emp = Employee("Sam", 36)
emp.details()

Delete Object and Property

In [ ]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
 
emp1 = Employee("Sam", 36)
emp2 = Employee("Mark", 28)
 
del emp1.name  # Deleted object's property
del emp2  # Object deleted

Empty Class

In [23]:
# The pass keyword allows to create empty class for data storage.

class PermanentEmployee:
    pass
 

emp1 = PermanentEmployee()
emp2 = PermanenyEmployee()

# two different objects created of empty class PermanentEmployee which can store data

emp1.name = "Sam"
emp1.age = 10

### Python Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

Create a class named Person, with firstname and lastname properties, and a printname method:

In [19]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
    
  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

Create a Child Class

In [22]:
#To create a class that inherits the functionality from another class, 
# send the parent class as a parameter when creating the child class:

# Create a class named Student, which will inherit the properties and methods from the Person class:
    
class Student(Person):
  pass

# Note: Use the pass keyword when you do not want to add any other properties or methods to the class.

# Now the Student class has the same properties and methods as the Person class.

Example: Use the Student class to create an object, and then execute the printname method:

In [23]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Add the __init__() Function

We want to add the __init__() function to the child class (instead of the pass keyword).

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc.
    
    # When you add the __init__() function, 
    
    # the child class will no longer inherit the parent's __init__() function.
    
    # The child's __init__() function overrides the inheritance of the parent's __init__() function.

In [ ]:
# To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

### Polymorphism

polymorphism means same function name being uses for different types.

In [40]:
# len() being used for a string 
print(len("geeks")) 
  
# len() being used for a list 
print(len([10, 20, 30]))

5
3

Polymorphism with class method

In [41]:
# call the methods without being concerned about which class type each object is

# We assume that these methods actually exist in each class

# for loop iterates through a tuple of objects


class India(): 
	def capital(self): 
		print("New Delhi is the capital of India.") 

	def language(self): 
		print("Hindi is the most widely spoken language of India.") 

	def type(self): 
		print("India is a developing country.") 

class USA(): 
	def capital(self): 
		print("Washington, D.C. is the capital of USA.") 

	def language(self): 
		print("English is the primary language of USA.") 

	def type(self): 
		print("USA is a developed country.") 

obj_ind = India() 
obj_usa = USA() 
for country in (obj_ind, obj_usa): 
	country.capital() 
	country.language() 
	country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.